<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112384754-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-112384754-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GCG 2019</title>

    <!-- css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../bower_components/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="../bower_components/nivo-lightbox/nivo-lightbox-theme.css">
    <link rel="stylesheet" href="../bower_components/countdown/jquery.countdown.css">
    <link rel="stylesheet" href="../assets/css/main.css">

    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body data-spy="scroll">
<div id="home"></div>
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="http://www.gulfcoastgetaway.org">
                    <!-- logo image  -->
                    <img src="../assets/images/logo.png" alt="Logo">
                    Gulf Coast Getaway
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li><a href="../#home">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#speakers">Guests</a></li>
                <li><a href="../#schedule">Schedule</a></li>
                <li><a href="#home">Questions</a></li>
                <li><a href="../donate">Donate</a></li>
                <li><a href="../#photos">Photos</a></li>

            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <h1>Community Group Questions</h1>

    </div>
</header>


<section id="about" class="section about">
  <div class="container">
    <div class="row" style="margin-bottom:1em;">
      <h3 class="section-title multiple-title" style="text-align:center;">Saturday Morning (Xenosphere)</h3>
      <div class="col-md-1"></div>  <!-- /.col-md-1 -->
      <div class="col-md-10">
	<ol>
	  <li><strong>Where</strong> do you do your best thinking?</li>
	  <li><strong>When</strong> do you do your best thinking?</li>
	  <li><strong>How</strong> do you do your best thinking?</li>
	  <li><strong>Why</strong> do you do your best thinking?</li>
	  <li><strong>For whom</strong> do you do your best thinking?</li>
	  <li>How can answering these five questions help you better engage "the others" (people different from you) in your spheres?</li>
	</ol>
      </div>  <!-- /.col-md-10 -->
      <div class="col-md-1"></div>  <!-- /.col-md-1 -->
    </div><!-- /.row -->

    <div class="row" style="margin-bottom:1em;">
      <h3 class="section-title multiple-title" style="text-align:center;">Saturday Evening (Agapesphere)</h3>
      <div class="col-md-1"></div>  <!-- /.col-md-1 -->
      <div class="col-md-10">
	<ol>
	  <li>How does the way you love contribute to unity in your relationships and the other spheres in your life?</li>
	  <li>How have you prayed for someone you love...and the people they love?</li>
	  <li>How does the way you love encourage others to be their full self for God and others?</li>
	  <li>How have you been petty in your relationships? How are you overcoming it?</li>
	  <li>What are some things you do in your relationships that make it easy to share Christ with others?</li>
	</ol>
      </div>  <!-- /.col-md-10 -->
      <div class="col-md-1"></div>  <!-- /.col-md-1 -->
    </div><!-- /.row -->
    
    <div class="row" style="margin-bottom:1em;">
      <h3 class="section-title multiple-title" style="text-align:center;">Sunday Morning (Symbiosphere)</h3>
      <div class="col-md-1"></div>  <!-- /.col-md-1 -->
      <div class="col-md-10">
	<p class="question-lists"><strong>Four Steps to Becoming a Life-Giving Sphere</strong></p>
	<ol>
	  <li>Live routines of oneness.</li>
	  <li>Make God's love the base level of your live.</li>
	  <li>Build up the value of others in your mind.</li>
	  <li>Upgrade your interests so that they are worthy of God's great dream for your life.</li>
	</ol>
	<br />
	<p class="question-lists">
	  <strong>Questions</strong>
	</p>
	<ol>
	  <li>Are you complicit in allowing the church to be exclusive? what is your role in helping the church be inclusive? what does that look like for you? (Be specific and practical.)</li>
	  <li>How can you live a life worthy of the people who God calls worthy?</li>
	  <li>Is it easier for you to tell people about Jesus and the gospel than to invite them to your church/ministry? Why or why not? What needs to change to make you more comfortable to invite others to your church/ministry?</li>
	  <li>Read over the "Four Steps to Becoming a Life-Giving Sphere". What is one that you need to implement in your life? How can you begin practicing that step this week?</li>
	  </li>
	</ol>
      </div>  <!-- /.col-md-10 -->
      <div class="col-md-1"></div>  <!-- /.col-md-1 -->
    </div><!-- /.row -->

  </div> <!-- container -->
</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="site-info">Organized by GCG Planning Team<br> Template by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
                <ul class="social-block">
                    <li><a href="http://twitter.com/gcgetaway"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="http://www.facebook.com/gulfcoastgetaway"><i class="ion-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/countdown/jquery.plugin.min.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>
