<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112384754-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-112384754-1');
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GCG 2019</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="../bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/donate.css">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body data-spy="scroll">
<div id="home"></div>
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="http://www.gulfcoastgetaway.org">
                    <!-- logo image  -->
                    <img src="../assets/images/logo.png" alt="Logo">
                    Gulf Coast Getaway
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <Li><a href="../#home">Home</a></li>
                <li><a href="../#about">About</a></li>
                <li><a href="../#speakers">Guests</a></li>
		<!-- <li><a href="../#registration">Register</a></li> -->
		<li><a href="../#schedule">Schedule</a></li>
		<!--<li><a href="../questions/">Questions</a></li>-->
                <li><a href="#home">Donate</a></li>
            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <h1>Donate</h1>

    </div>
</header>
<h3>Help Panama City Beach</h3>
<div id="donate-container">
  <img id="house-image" src="../assets/images/donate/autrell-house.jpeg" alt="autrell house" height="307" width="414">
  <div id="explanation">
    <p>For decades, Panama City Beach has hosted Gulf Coast Getaway. This community has given so much to our students and ministries over the years. They have patiently served us in their restaurants and stores, and the Edgewater staff have welcomed us to their property each year.</p>
    <p>This weekend, we are asking you to give back to this community. The donations we collect this weekend will go to two efforts. Some of the donations will go to a family who lost their home and more to Hurricane Michael. Autrell has worked at the Edgewater for years. His family's home was destroyed and many of their belongings lost. Some of our donations will go towards their efforts to recover from the devastation. The rest of the donations will go to the Distaster Response Team to assist their efforts in cleaning up and rebuilding in the aftermath of Hurricane Michael.</p>
    </div>
    <div id="innerDonate">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick" />
	<input type="hidden" name="hosted_button_id" value="YSK5QWFDMLZHG" />
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
	<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
      </form>
  </div>
</div>



<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="site-info">Organized by GCG Planning Team<br> Template by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
                <ul class="social-block">
                    <li><a href="http://twitter.com/gcgetaway"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="http://www.facebook.com/gulfcoastgetaway"><i class="ion-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/countdown/jquery.plugin.min.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>
