<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112384754-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-112384754-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GCG 2020</title>

    <!-- css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="assets/css/holding.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  </head>

  <body>
    <div id="container">
      <img id="main-img" src="http://www.gulfcoastgetaway.org/assets/images/logos/logo.jpg" height="360" width="634" />
      <div id="next-year">
	<h2><span id="gcg-color">GCG</span> 2020</h2>
	<h3>Jan. 17-19, 2020</h3>
      </div>
    </div>
  </body>

<footer>
</footer>

<!-- script -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/countdown/jquery.plugin.min.js"></script>
<script src="bower_components/countdown/jquery.countdown.min.js"></script>
<script src="bower_components/nivo-lightbox/nivo-lightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
