<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112384754-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      
      gtag('config', 'UA-112384754-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GCG 2020</title>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="bower_components/nivo-lightbox/nivo-lightbox.css">
    <link rel="stylesheet" href="bower_components/nivo-lightbox/nivo-lightbox-theme.css">
    <link rel="stylesheet" href="bower_components/countdown/jquery.countdown.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body data-spy="scroll">
<div id="home"></div>
<nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header">

            <!-- logo -->
            <div class="site-branding">
                <a class="logo" href="http://www.gulfcoastgetaway.org">
                    <!-- logo image  -->
                    <img src="assets/images/logo.png" alt="Logo">
                    Gulf Coast Getaway
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div><!-- /.navbar-header -->

        <div class="collapse navbar-collapse" id="navbar-items">
            <ul class="nav navbar-nav navbar-right">

                <!-- navigation menu -->
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#speakers">Guests</a></li>
		<!-- <li><a href="#registration">Register</a></li> -->
                <li><a href="#schedule">Schedule</a></li>
                <li><a href="questions/">Questions</a></li>
                <li><a href="donate/">Donate</a></li>
            </ul>
        </div>
    </div><!-- /.container -->
</nav>

<header id="site-header" class="site-header valign-center">
    <div class="intro">

        <h2>Jan. 17-19, 2020 | Panama City Beach, FL</h2>

        <h1>GCG 2020</h1>

        <!--<p>NEED SLOGAN HERE</p>-->

        <!-- <a class="btn btn-white inpage" href="#registration">Register!</a> -->

    </div>
</header>
<div id="countdown" class="countdown">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <h3 class="section-title">Event Start</h3>
            </div>
            <div class="col-md-10">
                <div id="defaultCountdown"></div>
            </div>
        </div>
    </div>
</div> 

<section id="about" class="section about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="section-title">About GCG 2019</h3>

                <p>For over 25 years, college students from across the southeastern United States
                  has gathered in January for worship, Bible studies, and just hanging out on the beach.
                  What better way to kick off the Spring 2019 semester than by joining over 1,200 other students to worship God?</p>

                <figure>
                    <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
                </figure>
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
                <h3 class="section-title multiple-title">What To Expect?</h3>

                <p>If it's your first time at Gulf Coast Getaway, you might not know what to expect.
                  We are confident that you will have a great time, preparing for the Spring 2019 semester by
                  growing in your faith and making new friends in the ministry you come with. Here are some things
                  to expect for this year.</p>

                <ul class="list-arrow-right">

                    <li>Keynote sessions from Don McLauglin.</li>
                    <li>Zac George and his team leading 1,200+ students in worship.</li>
                    <li>Breakout classes on Saturday and Sunday that are carefully chosen to interest you and help you in your Christian walk.</li>
                    <li>Three chances to discuss the weekend within Community Groups formed with your ministry.</li>
                    <li>An opportunity to support an important mission effort.</li>
                    <li>Plenty of "free" time to spend with your friends.</li>

                </ul>


            </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<section id="facts" class="bg-image-1 facts text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>2019<br>Jan 18-20</h3>
            </div>
            <div class="col-sm-4">
                <h3>Panama City Beach<br>FL</h3>
            </div>
            <div class="col-sm-4">
                <h3>1,200+<br>Attendees</h3>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>
<section id="speakers" class="section speakers">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title">Keynote Speaker</h3>

            </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <img alt="Don McLauglin" src="assets/images/don_m.jpg" height="216" width="144" />
          </div>
          <div class="col-md-8">
            <p>Don McLaughlin serves as the preaching minister for the North
              Atlanta Church of Christ in Atlanta, Georgia. He is passionate about
              creating an environment in which others can meaningfully experience
              God’s life-changing love. Don is especially focused on local and
              national initiatives to facilitate healing where racism has fractured
              families, friends and communities. He is a graduate of Harding
              University and continued his graduate-level studies at Emory University.
              Currently he is pursuing his Doctorate of Ministry at Lipscomb University.
              Don and his wife Susan are a team. They love ministry and enjoy
              serving together. They have five adult children and two very
              special granddaughters.</p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <h3 class="section-title breakout-section">Breakout Teachers</h3>

            </div>
        </div>
<!-- Breakout Speakers -->
	<div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="speaker">
                        <img class="img-responsive center-block" alt="Chris Buxton" src="assets/images/speakers/chrisbuxton.jpg" height="216" width="144">
                    <h4>Chris Buxton</h4>
                    <p><a href="http://asuwolflife.org" alt="Chris Buxton">Wolflife</a></p>
                </div><!-- /.speaker -->
	    </div><!-- /.col-md-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="speaker">
                        <img class="img-responsive center-block" alt="Joshua Solowey" src="assets/images/speakers/solowey.png" height="216" width="144">
                    <h4>Joshua Solowey</h4>
                    <p><a href="http://www.ethoschurch.org/joshuasolowey/" alt="Joshua Solowey">Ethos Church</a></p>
                </div><!-- /.speaker -->
	    </div><!-- /.col-md-6 -->

            <div class="col-md-6 col-sm-6">
                <div class="speaker">
                        <img class="img-responsive center-block" alt="Rene Waldrop" src="assets/images/speakers/rene.jpg" height="216" width="144">
                    <h4>René Waldrop</h4>
                    <p><a href="http://www.byourloveauburn.org" alt="René Waldrop">By Our Love (Auburn)</a></p>
                </div><!-- /.speaker -->
	    </div><!-- /.col-md-6 -->

	    <div class="col-md-6 col-sm-6">
	      <div class="speaker">
		<img class="img-responsive center-block" alt="Kevin Wooten" src="http://www.southsidelexington.com/uploads/5/6/8/9/5689228/1418232414.png" width="149" heigth="215">
		<h4>Kevin Wooten</h4>
		<p><a href="http://www.southsidelexington.com" alt="Southside Church of Christ">Southside Church of Christ</a></p>
	      </div><!-- /.speaker -->
	    </div><!-- /.col-md-6 -->
	    
    </div><!-- /.row -->
    </div>
</section>
<section id="contribution" class="section bg-image-2 contribution">
    <div class="container">
        <div class="row" style="min-height:100px;">
        </div>
    </div>
</section>
<section id="schedule" class="section schedule">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 style="text-align:center;">Main Schedule</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4 style="text-align:center;">Friday</h4>
          <strong>5:00 PM</strong> - Registration<br />
          <strong>9:00 PM</strong> - Session 1<br />
	  <strong>11:30 PM - 2:00 AM</strong> - RockIt Lanes
        </div>
        <div class="col-md-4">
          <h4 style="text-align:center;">Saturday</h4>
          <strong>9:00 AM</strong> - Session 2<br />
          <strong>11:00 AM</strong> - Community Groups<br />
          <strong>2 PM - 4 PM</strong> - Breakout Classes<br />
          <strong>7:00 PM</strong> - Session 3<br />
          <strong>9:30 PM</strong> - Community Groups<br />
        </div>
        <div class="col-md-4">
          <h4 style="text-align:center;">Sunday</h4>
          <strong>10:00 AM</strong> - Session 4<br />
          <strong>11:45 AM</strong> - Community Groups<br />
          <strong>3 PM - 5 PM</strong> - Breakout Classes<br />
          <strong>8:00 PM</strong> - Session 5<br />
        </div>
      </div> 
      <div class="row" style="margin-top:25px;">
        <div class="col-md-12">
          <h3 style="text-align:center;">Breakout Classes</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 style="text-align:center;">Saturday (2PM & 3PM)</h4>
          <strong>Taizé Worship</strong> (2PM only) [Ballroom]<br>
          <strong>Joshua Solowey</strong> -- "The Theology of Missional Living" (3PM only) [Ballroom]<br>
          <strong>Chris Buxton</strong> -- "Stress Less" (2PM only) / "Christianity 101" (3PM only) [Sago]<br> 
          <strong>René Waldrop</strong> -- "Transformed By Love" [Palm]
	</div>
        <div class="col-md-6">
          <h4 style="text-align:center;">Sunday (3PM & 4PM)</h4>
          <strong>Instrumental Worship</strong> (3PM only) [Ballroom]<br>
          <strong>Joshua Solowey</strong> -- "The Practice of Missional Living" (4PM only) [Ballroom]<br>
          <strong>Special Class</strong> -- "The Truth About Pornography" [Sago]<br> 
          <strong>Kevin Wooten</strong> -- "Give Me a Map!: Making Important Decisions" [Palm]
	</div><!-- col-md-6 -->
      </div><!-- row -->
      <div class="row" id="more-info">
	<a href="http://www.gulfcoastgetaway.org/topics/"><h4>[Click here for descriptions of the keynotes and classes!]</h4></a>
      </div>
    </div>
</section>
<section id="registration" class="section registration">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Conference Registration</h3>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <h4 style="text-align:center;">REGISTRATION</h4>
            <p><strong>Regular Rate:</strong> $70/person</p>
            <p><strong>GCG T-Shirt</strong>: A GCG t-shirt is included in every registration made before Dec. 15th.
            You do not need to turn in your t-shirt sizes during registration. You will be
              contacted December 1st and asked to turn in t-shirt sizes.</p>


           <div class="text-center"><a class="btn btn-black inpage" style="width:25%" href="https://formsmarts.com/form/200m?mode=h5">Register!</a></div>

          </div>
          <div class="col-md-6">
            <h4 style="text-align:center;">LODGING INFO</h4>
            <p>We encourage you to book your rooms at the Edgewater or the Majestic,
              which is a part of the same property group.</p>
              <p><strong>Edgewater Reservations</strong>: You can make reservations by calling 1.800.874.8686 anytime
                between 7:00 a.m. and 10:00 p.m. seven days a week. If you’d
                like to check rates or reserve rooms online,
                <a href="http://www.edgewaterbeachresort.com/">please go here</a>.
              Our group code is 10R928.</p>
                <p><strong>Majestic Reservations</strong>: Please call (855) 692-8767.
                  Three-bedroom suites are available at the Majestic. Our Group Code is 1117E6.</p>
                  <p><em>Our group rate expires on January 10, 2019,
                    so be sure to reserve your hotel rooms on or before that date.</em></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <hr class="divider" />
            <h4 style="text-align:center;">IMPORTANT PARKING INFORMATION</h4>
            <p>The Edgewater has <strong>changed</strong> their parking permit process.
              The parking passes are <strong>no longer included</strong> in the lodging rates.
              Each vehicle will have to pay $11.32 for a permit. You can do this in one of two ways:</p>
              <ol>
                <li>Group leaders can purchase the pass when they pay for their rooms.
                  If they go this route they will need the make, model and license number of each vehicle.</li>
                  <li>Drivers can buy their own pass at check in - either satellite or at the main desk.</li>
              </ol>
            <p><em>You will be charged for one parking pass for every room you reserve. If you need extra,
            you will need to purchase them from the Edgewater. If you need fewer than one per room
            (e.g. if your group came down in a charter bus), then you can ask for a refund
            from the Edgewater for every unneeded parking pass.</em></p>
          </div>
          <div class="col-md-1"></div>
        </div>
    </div>
</section>

<!--
<section id="faq" class="section faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Event FAQ<span>s</span></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                                   aria-controls="collapseOne"> What is the price of the ticket ?</a>
                            </h4>
                        </div>

                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h3>Hello</h3>
                                <p>Lorem Ipsum</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                   aria-controls="collapseTwo"> What is included in my ticket ?</a>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                   aria-controls="collapseThree"> Office address ?</a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                   aria-controls="collapseFour"> How should I dress ?</a>
                            </h4>
                        </div>

                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="faq-toggle collapsed" role="button" data-toggle="collapse"
                                   data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                   aria-controls="collapseFive"> I have specific questions that are not addressed here.
                                    Who can help me ?</a>
                            </h4>
                        </div>

                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingFive">
                            <div class="panel-body">Hello</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->
<section id="photos" class="section photos">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Photos</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid">

                    <li class="grid-item grid-item-sm-6">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-1.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-1.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-2.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-2.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-3.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-3.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-4.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-4.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-5.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-5.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-6.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-6.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-7.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-7.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-8.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-8.jpg">
                    </li>

                    <li class="grid-item grid-item-sm-3">
                        <div class="photo-overlay">
                            <a class="gallery-item" href="assets/images/photos/photos-9.jpg"
                               data-lightbox-gallery="photos">
                                <div class="btn btn-default classic-button" style="margin-top:25%;">view</div>
                            </a>
                        </div>
                        <img alt="" class="img-responsive center-block" src="assets/images/photos/photos-9.jpg">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

<section id="location" class="section location">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Event Location</h3>
                <address>
                    <p>Edgewater Beach & Golf Resort<br> Conference Center<br> 11212 Front Beach Rd<br> Panama City Beach, FL 32407<br> Phone:
                        1-800-874-8686</p>
                </address>
            </div>
            <div class="col-sm-9" id="map">
                <iframe class="map_canvas"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7641.87052159167!2d-85.82430727264949!3d30.18656761065741!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88937f0df4ff0b89%3A0xc206ed518a610fa7!2sEdgewater+Beach+%26+Golf+Resort!5e0!3m2!1sen!2sus!4v1502589232114"
                    width="100%" height="280" frameborder="0" style="border:0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="row mt60">
            <div class="col-md-12">
                <h3 class="section-title ">Contact Us</h3>
            </div>
        </div>
        <form action="php/contact.php" id="contactForm" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name" id="name" name="name"
                                       required>
                            </div> <!-- /.form-group -->
                        </div> <!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email"
                                       required>
                            </div> <!-- /.form-group -->
                        </div> <!-- /.col-sm-6 -->
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="6" placeholder="Message" name="message"></textarea>
                            </div> <!-- /.form-group -->
                        </div> <!-- /.col-sm-12 -->
                        <div class="text-center mt20 col-sm-6 col-sm-offset-3">
                            <button type="submit" class="btn btn-black" id="cfsubmit">Submit</button>
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.col-md-10.col-md-offset-1 -->
            </div>
        </form>
        <div id="contactFormResponse"></div>
    </div>
</section>


<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="site-info">Organized by GCG Planning Team<br> Template by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                </p>
                <ul class="social-block">
                    <li><a href="http://twitter.com/gcgetaway"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="http://www.facebook.com/gulfcoastgetaway"><i class="ion-social-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- script -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/countdown/jquery.plugin.min.js"></script>
<script src="bower_components/countdown/jquery.countdown.min.js"></script>
<script src="bower_components/nivo-lightbox/nivo-lightbox.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
